pkgbase = mkinitcpio-pkcs11
	pkgdesc = Install pkcs11 in early boot (systemd cryptsetyp.target) using pcscd.socket
	pkgver = 0.5
	pkgrel = 1
	arch = any
	depends = ccid
	depends = opensc
	depends = pcsclite
	depends = p11-kit
	source = pkcs11_install
	sha256sums = 671e5eaa45ad51174c380414000e33ddc0399ba71cc07f01cd64521ef56b4345

pkgname = mkinitcpio-pkcs11
