pkgbase = mkinitcpio-pkcs11
	pkgdesc = Install pkcs11 in early boot (systemd cryptsetyp.target) using pcscd.socket
	pkgver = 0.4
	pkgrel = 1
	arch = any
	depends = ccid
	depends = opensc
	depends = pcsclite
	depends = p11-kit
	source = pkcs11_install
	sha256sums = 503cbfab1e3271653e4d36bf33d35db3e21c76e4b454f7739691b10738876e03

pkgname = mkinitcpio-pkcs11
