[submodule "grokmirror"]
	path = grokmirror
	url = https://aur.archlinux.org/grokmirror
[submodule "python-enlighten"]
	path = python-enlighten
	url = https://aur.archlinux.org/python-enlighten
[submodule "diod"]
	path = diod
	url = https://aur.archlinux.org/diod
[submodule "haskell-tasty-hspec"]
	path = haskell-tasty-hspec
	url = https://aur.archlinux.org/haskell-tasty-hspec
[submodule "pandoc-pyplot"]
	path = pandoc-pyplot
	url = https://aur.archlinux.org/pandoc-pyplot
