[Unit]
Description=Borg backup service for /home (BTRFS)
Wants=network-online.target
After=network-online.target

[Service]
RuntimeMaxSec=1800
Nice=19
IOSchedulingClass=3
IOSchedulingPriority=7
ExecStart=/usr/bin/borgbackup
Type=simple

[Install]
WantedBy=multi-user.target
